/** Estilos propios*/

/*********************
       GENERAL
*********************/

.m-plugin-{{archetype.plugin.id}} .m-{{archetype.plugin.id}}-container,
.m-{{archetype.plugin.id}}-container {
  color: var(--idee-color-neutral-70);
  width: 100%;
  box-sizing: border-box;
  padding: 12px !important;
  border-radius: 0 !important;
  font-family: Muli, sans-serif;
  background-color: var(--idee-color-white);
}

.m-plugin-{{archetype.plugin.id}} .m-plugin-panel-content {
  margin: 0;
  padding: 0;
}

.m-{{archetype.plugin.id}}-container p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  color: var(--idee-color-neutral-70);
}
